---
---
$black-color: scale-color(rgb(17, 18, 29), $lightness: 2.5%);
$main-color: rgb(72, 246, 164);
$white-color: invert($black-color); // 238, 237, 226

@import "_highlight.scss";
@import "_font.scss";
@import "_post.scss";
