---
---


$black-color: rgb(17, 18, 29);
$main-color: rgb(72, 246, 164);
$white-color: invert($black-color); // 238, 237, 226

@import "_highlight.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
html:focus-within { scroll-behavior: smooth; }
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
a:not([class]) { text-decoration-skip-ink: auto; }
input,
button,
textarea,
select { font: inherit; }

html, body {
  width: 100%;
  height: 100%;
  background-color: $black-color;
  color: $white-color;
  // font-family: 'Inter', sans-serif;
  font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
}

%vt323 {
  font-family: 'VT323', 'Courier New', Courier, monospace;
}

%hover-back {
  position: relative;
  transition: box-shadow 0.25s ease-in-out;

  &::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 0;
    height: 100%;
    background-color: $white-color;
    transition: width 0.125s ease-in-out;
    box-shadow: 2px 1px 0 $black-color;
    border-radius: 1px;

    @supports (mix-blend-mode: difference) {
      background-color: rgb(255, 255, 255);
      mix-blend-mode: difference;
      z-index: 0;
    }
  }

  &:hover {
    color: $black-color;
    @supports (mix-blend-mode: difference) { color: $white-color; }
    &:after { width: 100%; }
  }
}

.top {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: $main-color;
  background-image: url("/assets/index.png");
  position: relative;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid #beebeb10;
  text-shadow: 2px 0 0 $black-color;
  color: $white-color;

  .name {
    padding: 0 1.05rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }

  h1 {
    @extend %vt323;
    display: inline-block;
    // padding: 0 0.3em;
    font-size: 3.5rem;
    // margin-top: 2rem;
    // margin-bottom: 1.5rem;
    padding: 0;
    margin: 0;
    text-shadow: 2px 0 0 $black-color;
    color: $white-color;
  }

  small {
    display: block;
  }

  &:not(.post) h1 {
    @extend %hover-back;
  }

  a {
    text-decoration: none;
  }

  .right {
    text-align: right;
    margin-bottom: 1.5rem;

    small a {
      @extend %vt323;
      @extend %hover-back;
      padding: 0 0.3rem;
      text-shadow: 2px 0 0 $black-color;
      color: $white-color;
    }
  }

  // &.post h1 {
  //   font-size: 2.5rem;
  // }
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 960px;
  position: relative;
  z-index: 20;

  .pagination {
    margin-top: 2rem;
    text-align: right;
  }

  .post-header-image {
    max-width: 100%;
    border: 1px solid #beebeb10;
    border-radius: 1px;
    margin-bottom: 1rem;
  }

  .post {
    line-height: 2;

    code {
      font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
      font-size: 0.75rem;
      border: 1px dotted $white-color;
      border-radius: 0.125rem;
      padding: 0.125rem 0.25rem;
    }

    pre {
      padding: 0.5rem 0.75rem;
      border: 1px dotted $white-color;
      border-radius: 0.125rem;
      line-height: 1.5;

      code {
        border: 0 none transparent;
        border-radius: 0;
        padding: 0;
      }
    }

    a {
      color: $main-color;
      text-decoration-style: dotted;

      &:hover {
        text-decoration-style: solid;
      }
    }

    img, video, audio {
      max-width: 100%;
    }

    img {
      border: 1px solid #beebeb10;
      border-radius: 1px;
    }
  }

  & > .post {
    & > * {
      margin-bottom: 1.5rem;
    }
  }
}
