<!DOCTYPE html>
<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    {% comment %}
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&family=VT323&display=swap"
        rel="stylesheet">
    {% endcomment %}
    <link
        href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&family=VT323&display=swap"
        rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">

    <title>{% if page.title %}Telios I - {{ page.title }}{% else %}Telios I{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="/assets/icon.png">
</head>

<body>
    {{ content }}
</body>

</html>
